$bg-color_1: lightgrey;
$bg-color_2: skyblue;
$bg-color_3: #000;
$primary_1: #000;
$primary_2: lightgrey;
$primary_3: #ccc;
$textcolor: #fff;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: $bg-color_1;
}
.profile-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: $bg-color_3;
  padding: 15px;
  color: #fff;

  .down {
    margin-top: 5px;
    font-size: 10px;
    cursor: pointer;
  }
}
.icon-container {
  display: flex;

  .icon {
    margin: 7px;
    font-weight: 300;
  }
  .plus {
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
  }
  .bars {
    font-size: 25px;
    cursor: pointer;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;

  .pro-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .profile-detail {
    display: flex;
    justify-content: space-around;
    .post {
      margin: 10px;
    }
  }
}
.edit-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 17px;
  align-items: center;
  background-color: $bg-color_1;
  .btn {
    background-color: $bg-color_1;
    height: 30px;
    width: 270px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid;
    border-radius: 3px;
  }
  .btn2 {
    border-radius: 3px;
    background-color: $bg-color_1;
    height: 25px;
    cursor: pointer;
    width: 50px;
    font-size: 15px;
    align-items: center;
  }
}
.story {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

  p {
    margin-top: 5px;
  }
}

.story-profile {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .list-user {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid;
    padding: 20px;
    align-items: center;
    cursor: pointer;
  }
}
.show {
  display: flex;
  flex-wrap: wrap;
}
.post-img {
  margin: 10px;
  width: 150px;
  height: 150px;
}
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 7;
  background-color: $bg-color_3;
  color: #fff;
  .menu-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  .menu-icon {
    font-size: 30px;
  }
}
.create-menu {
  background-color: $bg-color_3;
  margin-top: 20px;
  height: 0;
  overflow: hidden;
  z-index: 10000;
  animation: scroll 1s ease-in;
  .close {
    // margin-top: 20px;
    padding: 15px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    display: flex;
    justify-content: end;
    font-size: 24px;
  }
  .create {
    display: flex;
    margin-top: 5px;
    align-items: center;
    padding: 5px 0 0 16px;
    color: $textcolor;
    a {
      margin: 0 18px;
      cursor: pointer;
      color: #fff;
      font-size: 20px;
    }
  }
}
@keyframes scroll {
  0% {
    height: 0;
  }
  100% {
    height: 400px;
  }
}
