* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: lightgrey;
}

.profile-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.profile-container .down {
  margin-top: 5px;
  font-size: 10px;
  cursor: pointer;
}

.icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-container .icon {
  margin: 7px;
  font-weight: 300;
}

.icon-container .plus {
  border: 1px solid;
  padding: 3px;
  border-radius: 5px;
  cursor: pointer;
}

.icon-container .bars {
  font-size: 25px;
  cursor: pointer;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 20px;
}

.header .pro-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.header .profile-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .profile-detail .post {
  margin: 10px;
}

.edit-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: lightgrey;
}

.edit-column .btn {
  background-color: lightgrey;
  height: 30px;
  width: 270px;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  border: 1px solid;
  border-radius: 3px;
}

.edit-column .btn2 {
  border-radius: 3px;
  background-color: lightgrey;
  height: 25px;
  cursor: pointer;
  width: 50px;
  font-size: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.story p {
  margin-top: 5px;
}

.story-profile {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.story-profile .list-user {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: 1px solid;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post-img {
  margin: 10px;
  width: 150px;
  height: 150px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
}

.menu .menu-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.menu .menu-icon {
  font-size: 30px;
}
/*# sourceMappingURL=styles.css.map */