$bg-color_1: lightgrey;
$bg-color_2: skyblue;
$primary_1: black;
$primary_2: lightgrey;
$primary_3: #ccc;

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: $bg-color_1;
}
.profile-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .down {
    margin-top: 5px;
    font-size: 10px;
    cursor: pointer;
  }
}
.icon-container {
  display: flex;

  .icon {
    margin: 7px;
    font-weight: 300;
  }
  .plus {
    border: 1px solid;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
  }
  .bars {
    font-size: 25px;
    cursor: pointer;
  }
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;

  .pro-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }
  .profile-detail {
    display: flex;
    justify-content: space-around;
    .post {
      margin: 10px;
    }
  }
}
.edit-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 17px;
  align-items: center;
  background-color: $bg-color_1;
  .btn {
    background-color: $bg-color_1;
    height: 30px;
    width: 270px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid;
    border-radius: 3px;
  }
  .btn2 {
    border-radius: 3px;
    background-color: $bg-color_1;
    height: 25px;
    cursor: pointer;
    width: 50px;
    font-size: 15px;
    align-items: center;
  }
}
.story {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

  p {
    margin-top: 5px;
  }
}

.story-profile {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .list-user {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    border: 1px solid;
    padding: 20px;
    align-items: center;
    cursor: pointer;
  }
}
.show {
  display: flex;
  flex-wrap: wrap;
}
.post-img {
  margin: 10px;
  width: 150px;
  height: 150px;
}
